webservice-web/src/FlightBookingService_topDown.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.bookingservice.jyoti.com/" name="FlightBookingService_topDown" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.bookingservice.jyoti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.bookingservice.jyoti.com/" schemaLocation="FlightBookingService_topDown.xsd"/>
        </xsd:schema>
    </types>
    <message name="getPrice">
        <part name="parameters" element="tns:getPrice"/>
    </message>
    <message name="getPriceResponse">
        <part name="parameters" element="tns:getPriceResponse"/>
    </message>
    <message name="ItineraryNotFoundException">
        <part name="fault" element="tns:ItineraryNotFoundException"/>
    </message>
    <message name="checkAvailable">
        <part name="parameters" element="tns:checkAvailable"/>
    </message>
    <message name="checkAvailableResponse">
        <part name="parameters" element="tns:checkAvailableResponse"/>
    </message>
    <message name="issueTicket">
        <part name="parameters" element="tns:issueTicket"/>
    </message>
    <message name="issueTicketResponse">
        <part name="parameters" element="tns:issueTicketResponse"/>
    </message>
    <message name="AuthenticationException">
        <part name="fault" element="tns:AuthenticationException"/>
    </message>
    <message name="BookingNotFoundException">
        <part name="fault" element="tns:BookingNotFoundException"/>
    </message>
    <portType name="FlightBookingService_topDown">
        <operation name="getPrice">
        <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/getPriceRequest" message="tns:getPrice"/>
        <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/getPriceResponse" message="tns:getPriceResponse"/>
        <fault message="tns:ItineraryNotFoundException" name="ItineraryNotFoundException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/login/Fault/ItineraryNotFoundException"/>
        </operation>
        <operation name="checkAvailable">
            <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/checkAvailableRequest" message="tns:checkAvailable"/>
            <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/checkAvailableResponse" message="tns:checkAvailableResponse"/>
            <fault message="tns:ItineraryNotFoundException" name="ItineraryNotFoundException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/login/Fault/ItineraryNotFoundException"/>
        </operation>
        <operation name="issueTicket">
            <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/issueTicketRequest" message="tns:issueTicket"/>
            <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/issueTicketResponse" message="tns:issueTicketResponse"/>
            <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/issueTicket/Fault/AuthenticationException"/>
            <fault message="tns:BookingNotFoundException" name="BookingNotFoundException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService_topDown/issueTicket/Fault/BookingNotFoundException"/>
        </operation>
    </portType>
    <binding name="FlightBookingServicePortBinding_topDown" type="tns:FlightBookingService_topDown">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getPrice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ItineraryNotFoundException">
                <soap:fault name="ItineraryNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="checkAvailable">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ItineraryNotFoundException">
                <soap:fault name="ItineraryNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="issueTicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BookingNotFoundException">
                <soap:fault name="BookingNotFoundException" use="literal"/>
            </fault>
            <fault name="AuthenticationException">
                <soap:fault name="AuthenticationException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="FlightBookingService_topDown">
        <port name="FlightBookingServicePort_topDown" binding="tns:FlightBookingServicePortBinding_topDown">
            <soap:address location="http://127.0.0.1:8000"/>
        </port>
    </service>
</definitions>

