webservice-client/src/main/resources/wsdl/FlightBookingServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.bookingservice.jyoti.com/" name="FlightBookingServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.bookingservice.jyoti.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.bookingservice.jyoti.com/" schemaLocation="FlightBookingServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="AuthenticationException">
    <part name="fault" element="tns:AuthenticationException"/>
  </message>
  <message name="searchItinerary">
    <part name="parameters" element="tns:searchItinerary"/>
  </message>
  <message name="searchItineraryResponse">
    <part name="parameters" element="tns:searchItineraryResponse"/>
  </message>
  <message name="searchAvailableItinerary">
    <part name="parameters" element="tns:searchAvailableItinerary"/>
  </message>
  <message name="searchAvailableItineraryResponse">
    <part name="parameters" element="tns:searchAvailableItineraryResponse"/>
  </message>
  <message name="bookTicket">
    <part name="parameters" element="tns:bookTicket"/>
  </message>
  <message name="bookTicketResponse">
    <part name="parameters" element="tns:bookTicketResponse"/>
  </message>
  <message name="SeatNotAvailableException">
    <part name="fault" element="tns:SeatNotAvailableException"/>
  </message>
  <message name="InvalidCardDetailsException">
    <part name="fault" element="tns:InvalidCardDetailsException"/>
  </message>
  <message name="createTicket">
    <part name="parameters" element="tns:createTicket"/>
  </message>
  <message name="createTicketResponse">
    <part name="parameters" element="tns:createTicketResponse"/>
  </message>
  <message name="TicketNotFoundException">
    <part name="fault" element="tns:TicketNotFoundException"/>
  </message>
  <portType name="FlightBookingService">
    <operation name="login">
      <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/loginRequest" message="tns:login"/>
      <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/loginResponse" message="tns:loginResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/login/Fault/AuthenticationException"/>
    </operation>
    <operation name="searchItinerary">
      <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchItineraryRequest" message="tns:searchItinerary"/>
      <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchItineraryResponse" message="tns:searchItineraryResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchItinerary/Fault/AuthenticationException"/>
    </operation>
    <operation name="searchAvailableItinerary">
      <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchAvailableItineraryRequest" message="tns:searchAvailableItinerary"/>
      <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchAvailableItineraryResponse" message="tns:searchAvailableItineraryResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/searchAvailableItinerary/Fault/AuthenticationException"/>
    </operation>
    <operation name="bookTicket">
      <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/bookTicketRequest" message="tns:bookTicket"/>
      <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/bookTicketResponse" message="tns:bookTicketResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/bookTicket/Fault/AuthenticationException"/>
      <fault message="tns:SeatNotAvailableException" name="SeatNotAvailableException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/bookTicket/Fault/SeatNotAvailableException"/>
      <fault message="tns:InvalidCardDetailsException" name="InvalidCardDetailsException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/bookTicket/Fault/InvalidCardDetailsException"/>
    </operation>
    <operation name="createTicket">
      <input wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/createTicketRequest" message="tns:createTicket"/>
      <output wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/createTicketResponse" message="tns:createTicketResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/createTicket/Fault/AuthenticationException"/>
      <fault message="tns:TicketNotFoundException" name="TicketNotFoundException" wsam:Action="http://ws.bookingservice.jyoti.com/FlightBookingService/createTicket/Fault/TicketNotFoundException"/>
    </operation>
  </portType>
  <binding name="FlightBookingServicePortBinding" type="tns:FlightBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchItinerary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchAvailableItinerary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
    </operation>
    <operation name="bookTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="SeatNotAvailableException">
        <soap:fault name="SeatNotAvailableException" use="literal"/>
      </fault>
      <fault name="InvalidCardDetailsException">
        <soap:fault name="InvalidCardDetailsException" use="literal"/>
      </fault>
    </operation>
    <operation name="createTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="TicketNotFoundException">
        <soap:fault name="TicketNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FlightBookingServiceService">
    <port name="FlightBookingServicePort" binding="tns:FlightBookingServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

